
.FollowersCard{
    width: 100%;
    border-radius: 0.7rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    /* max-height: 10rem; */
}
.follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follower>div{
    display: flex;
    gap: 10px;
}


.followerImage{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.name>span:nth-of-type(1){
    font-weight: bold;
}



.fc-button{
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

.UnfollowButton{
    color: var(--orange);
    border: 2px solid var(--orange);
    cursor: pointer;
    background: transparent;
}


.FollowersCard>span{
    font-weight: bold;
    color: orange;
    align-self: center;
    cursor: pointer;
}

.FollowersCard {
    /* Your existing styles */
    position: relative; /* Add relative positioning */
  }
  
  /* Style for the search input */
  .FollowersCard input[type="text"] {
    padding: 8px 32px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Border color */
    border-radius: 20px; /* Border radius */
    outline: none; /* Remove outline */
  }
  
  /* Style for the search icon */
  .FollowersCard .search-icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust left position as needed */
    transform: translateY(-50%);
    color: blue; /* Set icon color to blue */
  }
  
  /* Style for the search icon itself */
  .FollowersCard .search-icon i {
    font-size: 18px; /* Adjust icon size as needed */
  }
  